House Rules
===========

Definitions:
Net worth - Total of bank balance and property and buildings value

========================================================================
Moving Around the Board
========================================================================

Go
============
If passing Go, the normal amount is given
If the player lands on Go and their net worth is less than double the amount of the normal amount given, then they recieve the double amount; otherwise they recieve the normal amount

Jail
============
There are no "Get out of jail free" cards

To be released immediately players must be able to pay 20% of their net worth; this is only possible if they have that amount in their bank account
A player in Jail may not collect rent, buy buildings, participate in any auctions, or mortgage property. He or she may only make trades with another player at Just Visiting.

Players may leave jail by rolling a double; alternatively, players may pay 15% of their net worth; otherwise, if they are in jail for more than three turns they must either pay 10% of their net worth or 10% of their bank balance (which ever is greater, properties may be morgaged, sold or auctioned to perform this).

Movement
============
- One player must go around board once before any may buy property
- All property costs twice the face value (all other rent values, etc. remain the same)

Chance
============
Drawing a chance, when landing on Chance is optional

Travelling Railroads
============
If a player lands on a railroad and it is owned by a player, they must pay rent.
If a player wishes to travel to another railway station (morgaged or not), which is owned by the same player, they may do so after paying a faire of 10% of the rent.
A railway owner may phohibit travel on their railways to other players by accepting half-rent.


========================================================================
Properties
========================================================================

Tax Man
============
A token is allocated to the bank; which ever property the token lands on, the owner must pay the bank the value of the rent. Non-properties are ignored.

Auctions
============
When a player lands on an un-owned property, another may start off an auction by bidding twice the value of the property; or if the person landing on the property decides not to buy.
All auctions are done by players, wishing to bid, writing down their value and then showing in unison. The highest bidder pays the amount that the second highest bidder bid.
The highest bidder pays the player who landed on the property (if it is not themself) a finding fee of 10% of the sold value of the property.
Players must have the money in their bank account totally the amount they wish to bid and the 10% fee prior to bidding. If not, they suffer a 20% value penalty fee; and still pay the finding fee.

Foreclosure
============
If a property is morgaged and a player which is not the owner lands on it, the player may buy the property by paying the owner the value of the property and the bank the value of the property plus 15%

Selling Off and Morgaging
============
A Property may be sold back to the bank at 75% of the original value. If it has houses or hotels built upon it, they contribute 60% of each original value of the house towards the final price.
The property may be morgaged at the value listed on the card.

Houses and Hotels
============
Only one house may be built on each property per turn.
Hotels can only be built on a property when the owner is in the same colour group as property.
Houses and hotels can be sold back for half their original value.

Free-market
============
Players may build houses on any property they own up to the number of properties they own in that colour group (i.e., if a player only owns one orange property, they may only build one house; if they own two properties then they may build two houses on each); if they own all the properties in a colour group they may develop as stated on the property card.
If the player does not own all of the colours, then the cost of building the house is doubled.

The owner of the property may charge a player any value of rent up to the maximum allowed by number of houses built; the minimum value of rent chargable is the base-value of rent of the property.

If a player lands on an improved property and there are other improved property/ies, owned by another player in the colour group, then the player may move to property in that colour group and pay that owner the rent requested instead of the one which they landed on. If the player decides to do this, they move their counter to that property.
If the player owns the property, they may not move to another property in the same colour group.
The player may only move to another property which is also improved

Partnerships
============
Two players may buy a property together and recieve the rent at agreed rates.
Two players may enter a partnership on a single property under terms agreed by the owner.
The other player may buy the remaining share of the property at 75% value (including houses), with a 10% fee of the stated price.
An owner of a property may transfer the property to another player; if agreed, the former owner may recieve half the rent. If the new owner transfers the property to another player, the agreement is void.

Two (or more) players hold a majority in a colour group, they may form a partnership whereby they can fully develop all of their properties in a colour group as long as they are developed evenly.

To form a partnership

If a partner leaves the partnership, all of the buildings must be sold off.
	If the property is transferred to another player, then they may choose to be apart of the partnership; or all of the buildings must be sold
	If the property is transferred to the bank, he property will go to auction, with a minimum value of the amount of houses present
		Other players, including those in the partnership may bid (two players together may purchase the property).

========================================================================
Rent
========================================================================

Immunity
============
Players may negotiate immunity from paying rent from one or more properties; the details are up to the players involved. Immunity is non-transferrable with the property and must be honoured for the rest of the game. If the property is traded to another player, then traded back the original agreement must be honoured.

Rent
============
All players must always pay rent, even if the owner does not ask

If a player owes rent in excess of their net worth then:

They may declare themselves bankrupt:
	The debtor transfers their remaning money from their account
	They must morgage their properties and transfer that money to the player which they are in debt to
	The properties are transferred to the bank and return to normal purchase

They may take out a loan:
	Provided the value of their properties plus (up to) 20% meets or exceedes the rent due the player make take out a loan from the bank
	The player's properties are transferred to the bank and are held until the loan is repaid
	The player make take out an additional 5% loan ontop for money to remain in the game
	See terms of a bank loan below

The player may not sell nor auction their properties to other players to pay the rent due.

Loans
============

From the bank:
------------
When not having to pay rent:
	If the player has 3 or fewer properties then they may take out a loan up the net stated value of their properties plus 10%

The player taking out the loan does not gain money from passing Go, it is given to the bank to pay the loan back (minus 20%); any rent collected by the properties (minus 20%) also pays back the loan. Additionally, players may pay back their loan by transferring money from their account to the bank.

From another player:
-------------
A player may loan another money or property with provisions agreed then.


========================================================================
Stock Market
========================================================================

Players may buy stocks


========================================================================
Companies
========================================================================
Boris's Bricks -- Increases when houses are built
Carly's Caterers -- Increases when Hotels are built
Leighton's Lawyers -- Increases when loans, co-operatives etc. occur
Steve's Services -- Increases when utility bills are due
Anton's Accountants -- Increases when Tax is called
Irene's Investors   -- Increases when Stocks are brought and dividends paid
